@page "/logout"

@using HackerNewsDashboard.Client.Services
@using HackerNewsDashboard.Common.DTO
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<PageTitle>Logout</PageTitle>
<h1>Logout</h1>

<p>Are you sure you want to log out? If so, please press the button below and close all open tabs.</p>
<RadzenButton Text="Logout" Click="@HandleLogout" />

@code {
    async Task HandleLogout()
    {
        await AuthService.Logout();

        NavigationManager.NavigateTo("/");
    }
}