@using HackerNewsDashboard.Client.Providers
@using HackerNewsDashboard.Client.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (AuthState?.User.Identity?.IsAuthenticated == true)
            {
                <a href="/logout">Logout</a>
            }
            else
            {
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code{
    AuthenticationState? AuthState;

    protected override async Task OnParametersSetAsync()
    {
        AuthState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        //Force an unauthenticated user to login or register. More of a quality of life feature than anything, they wouldn't be able to get data from the api methods.
        if (AuthState?.User.Identity?.IsAuthenticated != true && !(NavigationManager.Uri.ToLower().EndsWith("/login") || NavigationManager.Uri.ToLower().EndsWith("/register")))
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}
